
#btn1
{
  margin: 0%;
  position: relative;
  top: -7880px;
  left: 0px;
  background: #4cf978;
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn2
{
  margin: 0%;
  position: relative;
  top: -7880px;
  left: 10px;
  background: #4cf978;
  color: #000;
  background: rgba(0,0,0,0.0);
  color: #4cf978;
  box-shadow: 0 0 0 3.5px #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn3
{
  margin: 0%;
  position: relative;
  top: -4700px;
  left: 450px;
  background: #000;
  color: #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn4
{
  margin: 0%;
  position: relative;
  top: -4700px;
  left: 480px;
  background: rgba(0,0,0,0.0);
  color: #000;
  box-shadow: 0 0 0 3.5px #000;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn5
{
  margin: 0%;
  position: relative;
  top: -2760px;
  left: -480px;
  background: #000;
  color: #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn6
{
  margin: 0%;
  position: relative;
  top: -2760px;
  left: -180px;
  background: #000;
  color: #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn7
{
  margin: 0%;
  position: relative;
  top: -2760px;
  left: 120px;
  background: #000;
  color: #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn8
{
  margin: 0%;
  position: relative;
  top: -2500px;
  left: -840px;
  background: #000;
  color: #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn9
{
  margin: 0%;
  position: relative;
  top: -2500px;
  left: -520px;
  background: #000;
  color: #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn10
{
  margin: 0%;
  position: relative;
  top: -2500px;
  left: -235px;
  background: #000;
  color: #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn11
{
  margin: 0%;
  position: relative;
  top: -3650px;
  left: 0px;
  background: #4cf978;
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn12
{
  margin: 0%;
  position: relative;
  top: -1350px;
  left: 260px;
  background: #000;
  color: #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn13
{
  margin: 0%;
  position: relative;
  top: -1350px;
  left: 820px;
  background: #000;
  color: #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn14
{
  margin: 0%;
  position: relative;
  top: -550px;
  left: 20px;
  background: #000;
  color: #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
#btn15
{
  margin: 0%;
  position: relative;
  top: -550px;
  left: 580px;
  background: #000;
  color: #4cf978;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
